<div class="call">
  <div class="call-box-top">
        {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}

    <div class="call-phone"><strong><a href="https://calendly.com/greenseal-info/30min">Book Your Free Efficiency Assessment Call </a></strong></div>
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
