<nav class="gsp-nav">
  <ul>
    <li class="{% if page.url == '/gsp/' %}active{% endif %}">
      <a href="/gsp/">Overview</a>
    </li>

    <li class="{% if page.url == '/gsp/methodology/' %}active{% endif %}">
      <a href="/gsp/methodology/">Methodology</a>
    </li>

    <li class="{% if page.url == '/gsp/levels/' %}active{% endif %}">
      <a href="/gsp/levels/">Levels</a>
    </li>

    <li class="{% if page.url == '/gsp/certified/' %}active{% endif %}">
      <a href="/gsp/certified/">Certified</a>
    </li>

    <li class="{% if page.url == '/gsp/faq/' %}active{% endif %}">
      <a href="/gsp/faq/">FAQ</a>
    </li>

    <li class="{% if page.url == '/gsp/self-assessment/' %}active{% endif %} cta">
      <a href="/gsp/self-assessment/">GSP™ Self-assessment</a>
    </li>
  </ul>
</nav>
<!-- <aside class="gsp-sidebar"> -->
<!--   <h3>Green Software Practices</h3> -->
<!--   <nav> -->
<!--     <a href="/gsp/">Overview</a> -->
<!--     <a href="/gsp/levels/">Levels</a> -->
<!--     <a href="/gsp/methodology/">Methodology</a> -->
<!--     <a href="/gsp/certified/">Certified Companies</a> -->
<!--     <a href="/gsp/faq/">FAQ</a> -->
<!---->
<!--     <hr> -->
<!---->
<!--     <a class="cta" href="/gsp/self-assessment/"> -->
<!--       Start self-assessment → -->
<!--     </a> -->
<!--   </nav> -->
<!-- </aside> -->
