---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 id="title" class="title">{{page.title}}</h1>
                  {% if page.date or page.author %}
                  <p class="post-meta">
                  <small><i>
                    {% if page.date %}
                      <span class="post-date">
                        {{ page.date | date: "%B %d, %Y" }}
                      </span>
                    {% endif %}
                    {% if page.author %}
                      {% if page.date %} · {% endif %}
                      <span class="post-author">
                        {{ page.author }}
                      </span>
                    {% endif %}
                    </i></small>
                  </p>
                {% endif %}
                <div class="content">{{content}}</div>
                <div class="text-center my-1 text-muted">
                  <span>— ✻ —</span>
                </div>
                <p class="back-to-top">
                <a href="#">↑ Back to top</a>
            </p>
            </div>
        </div>
    </div>
</div>
